[2015-07-08 11:40] gjaldon opened #1 "Make it configurable to return either string or atom"
Right now, we just return atoms whenever we call `user.status`. We could accept an option in `defenum` so that `user.status` will return either string or atom instead.

[2015-07-27 14:43] YayC opened #2 "Support latest ecto and postgrex / relax version requirements"
Thanks for sharing this!

Having trouble updating to the latest phoenix (v 0.15), as it requires ecto 0.14.3, postgrex 0.9.1.

[2015-07-28 02:21] #2 closed, assigned to nobody

[2015-07-28 02:31] gjaldon commented on #2
@YayConnolly just relaxed the requirements and released a v2.2. Thanks for the report!

[2015-07-28 14:49] YayC commented on #2
:+1: works great

[2016-01-14 10:13] zipme opened #3 "Enum value not loaded correctly after update/insert"
It seems the `Ecto.Type`'s `load` callback is not invoked, when I insert or update an record with integer or string type instead of atom, the result of Repo.insert!/1 or Repo.update/1 would be integer/string instead of atom.

[code]

I am using `ecto` 1.1.1 and `ecto_enum` 0.3.0.

[2016-01-14 10:13] zipme commented on #3
This seems to be related to this issue https://github.com/elixir-lang/ecto/issues/345

[2016-03-09 00:31] mtwilliams opened #4 "Allow backing storage as a string."
I was thinking of something like

[code]

This way, I don't need to know the mapping when performing queries on dataset, i.e.

[code]

---

This is super-duper useful in a few situations:
- Ad-hoc querying for things like analytics and customer service.
- Multitenant databases. Especially when working in a polyglot (i.e. not using an umbrella app) microservices environment.
- Probably more!

Thoug

[2016-03-09 00:48] mtwilliams commented on #4
A cursory look over [`lib/ecto_enum.ex`](https://github.com/gjaldon/ecto_enum/blob/master/lib/ecto_enum.ex) has revealed two things:
1. It's not hard to toggle between an integer or string mapping; and
2. handling the difference between a list and keyword-list is only a minor inconvenience that necessitates minor refactoring.

Should I go ahead and submit a pull request implementing this functiona

[2016-03-09 00:52] mtwilliams opened #5 "No CI?"
Setting up for Travis CI would only require you to add a `.travis.yml`:

[code]

[2016-03-29 15:33] azhi commented on #4
+1 for the feature.

My use-case is connecting Elixir (Ecto) app to existing DB that already uses string-based enum storage.

[2016-03-29 16:28] gjaldon commented on #4
@mtwilliams allowing mapping to a string instead of an integer sounds good to me. Maybe even allow any value that Ecto accepts.

I prefer a keyword list to show the actual mapping since it is explicit. No need to guess what values the enums are mapped to in the db.

[2016-04-01 18:24] mtwilliams commented on #4
You don't have to guess what they're mapped to if provided a list, as the in-memory and in-database values are the same. It's the equivalent of:

[code]

Where as using a keyword-list opens you up to situations like so:

[code]

That can be hell when you're refactoring. Or if you're spelling impaired, like me.

[2016-05-13 08:24] gjaldon commented on #4
I don't think the convenience is worth it. And why should the default mapping be to a string instead of an integer?

I think the verbosity of using a Keyword list, in this case, makes it easy to read definition of your enums in the future. You just quickly scan it and immediately know the values they map to in the DB. No need for additional effort to parse.

[2016-05-22 21:42] JonnyPower commented on #4
+1 for this

[2016-06-23 14:43] Troush opened #7 "Changeset errors instead of Error raise"
Hey, thank you for great repo !

On my thoughts that it would be better if ecto_enum would store it error in `changeset.errors` instead of Error raise. Because save this error in changeset is more convenient way to handle data validity errors in Ecto.

What do you think about it?

[2016-07-04 23:02] mtwilliams commented on #4
I've gone ahead and implemented this functionality. Please let me know what you think.

[2016-07-04 23:04] mtwilliams commented on #4
Another improvement would be to provide a helper to assist in writing migrations when converting from integer backed to string backed enums (and vice versa).

[2016-07-08 12:09] clessg opened #10 "Queries don't seem to work"
Given:

[code]

I receive the following error:

[code]

friendship.ex:

[code]

[2016-07-18 19:20] jerodsanto commented on #10
With Ecto 2 you need to pin the `:friend` atom. Try this:

[code]

[2016-07-23 20:16] clessg commented on #10
Thank you! I'll make a PR to fix the docs.

[2016-07-23 20:16] #10 closed, assigned to nobody

[2016-07-30 08:02] gjaldon commented on #7
@Troush I thinks this would be great! Feel free to send a PR. :) If you don't have time, let me know and I'll work on it in the next days.

[2016-07-30 08:03] gjaldon commented on #5
@mtwilliams feel free to send a PR for this. :)

[2016-07-30 08:09] gjaldon commented on #4
Shouldn't we encourage the use of integer-backed enums rather than string-backed ones? Storing integers in the DB is more space-efficient, I think and it's why Rails' enums is integer-backed.

I'm thinking of supporting string-backed enums so that users can defer migrating their data to integer if they already started using strings. Maybe provide a helper for that instead?

[2016-07-30 08:12] gjaldon commented on #3
@zipme feel free to reopen if this is still a problem.

[2016-07-30 08:12] #3 closed, assigned to nobody

[2016-08-02 06:19] Troush commented on #7
Will try to do this on upcoming weekdays.

[2016-08-02 09:52] gjaldon commented on #7
@Troush oops! I just addressed this with my latest commits I pushed several hours ago. :D Closing this issue now :) Try out the latest release and let me know if everything is in order. ;)

[2016-08-02 09:52] #7 closed, assigned to nobody

[2016-08-02 09:56] Troush commented on #7
This is even better! xD
Thnx!

[2016-08-02 23:58] gjaldon opened #13 "Clearer error message for invalid enum value"
From: https://elixirforum.com/t/ectoenum-for-activerecord-like-enums-in-ecto-updated/1264/3?u=gjaldon

I feel like this example:

iex> Repo.insert!(%User{status: :none})
*\* (Elixir.EctoEnum.Error) :none is not a valid enum value
Should include the enum type in the error message. Something like: :none is not a valid enum value for StatusEnum

But good work! Would like to see this working for Ecto

[2016-08-04 14:54] zimt28 opened #14 "Use with Postgres Enum Type"
Does it make sense to use `EctoEnum` with the Postgres Enum Type? I think it's always a good idea to have things in the database as well. I'll try the following later, it would be nice if `EctoEnum` would provide a simple way to add the type to migrations as well.

[code]

According to the [Postgres docs](https://www.postgresql.org/docs/9.2/static/datatype-enum.html), this would allow for cool thi

[2016-08-05 13:30] gjaldon commented on #14
I think it does make sense. Someone else on the Elixir forum suggested this same thing too. I haven't really looked into how to implement this yet and if it is possible to implement this feature in an Ecto extension.

I'll look into it on my weekend. :) Feel free to look into it too. :)

[2016-08-07 04:51] gjaldon opened #15 "Ecto 2.0 support"

[2016-08-10 13:07] #14 closed, assigned to nobody

[2016-08-10 13:31] gjaldon commented on #14
@zimt28 latest release supports 0.4.0 supports Postgres's Enum Type! 😄

[2016-08-20 07:31] slashmili commented on #15
I'm using cto_enum with Ecto 2.0 and everything seem works fine.
What problem do you have with Ecto 2.0?

[2016-08-20 08:05] asiniy commented on #15
@slashmili it can't be installed because of conflicts :smile:

[2016-08-20 09:33] slashmili commented on #15
I added to my dependency list a month ago (version `0.3.1`) and there was no limitation. I'm just asking if I should expect some bugs? what was the reason that it current version doesn't support Ecto 2.0

[2016-08-20 10:38] asiniy commented on #15
@slashmili yeah, I'm little bit frustrated by this limitation too

[2016-08-24 19:15] mtwilliams commented on #15
`Ecto.Storage` in the test helpers, for one.

[2016-08-28 09:39] Eiji7 commented on #15
Do you support [prefix](https://github.com/elixir-ecto/ecto/issues/1005) in `create_type` and `drop_type`?

[2016-09-02 16:11] RomarioLopezC commented on #1
+1

[2016-09-05 22:22] rlopzc commented on #15
+1, is this working now?

[2016-09-27 16:32] DCameronMauch opened #20 "Changes to Postgres enum types?"
Hello.  Thanks so much for this library.  We decided that we want to use real Postgres enums.  So the initial setup is easy and works just fine.

But we have the question, what does it look like if you want to add something to the enum later?  I am currently thinking that would just be an update to the defenum and a migration.  But not really clear.

[2016-10-11 10:29] shakthimaan commented on #15
[code]

Any suggestions?

[2016-10-11 16:08] mtwilliams commented on #15
As far as I know the runtime portion works. In that case, you can just `override` to force `ecto ~> 2.0.5`.

[2016-10-11 17:54] shakthimaan commented on #15
What is required to get a clean dependency resolution without the override?

[2016-10-12 15:28] gjaldon commented on #20
@DCameronMauch hi there! Sorry it took a while to respond.

You're correct that you'll need to add a migration and then adding the attribute to `defenum`. This means you'll need to recompile for the changes to apply. The query for the migration would look something like:

[code]

[2016-10-12 15:28] #20 closed, assigned to nobody

[2016-10-12 15:28] gjaldon commented on #20
I'm closing this but feel free to post any more questions here @DCameronMauch

[2016-11-06 16:48] gjaldon opened #24 "Support MySQL's Enum"
http://dev.mysql.com/doc/refman/5.7/en/enum.html

[2016-11-06 16:55] gjaldon commented on #15
Finally released https://github.com/gjaldon/ecto_enum/releases/tag/v1.0!

[2016-11-06 16:55] #15 closed, assigned to nobody

[2016-11-23 02:56] JustinBond opened #26 "Compilation error: type keyword() undefined"
Hello. I'm very interested in your library, and was testing it on a test Phoenix project and received this error when I tried to compile it:

[code]

Elixir 1.2.5
Ecto 2.0.5

[2016-11-24 10:40] gjaldon commented on #26
@JustinBond could you try with Elixir 1.3 and see if you encounter the error still?

[2016-11-24 15:23] JustinBond commented on #26
Thanks, that did it!

[2016-11-24 15:23] #26 closed, assigned to nobody

[2016-11-30 18:51] shakthimaan opened #27 "Compilation error on file lib/ecto_enum.ex"
I am getting the following error when running mix ecto.create on a test project:
[code]
Relevant file contents are shown below:
1. mix.exs
[code]
2. lib/my_app/ecto_enums.ex
[code]
3. web/models/user.ex
[code]
Using ERL version on Ubuntu 15.04.
[code]
What could I be missing?

[2016-12-04 06:52] shakthimaan commented on #27
Was using an old version of Elixir (1.2.4). Compiles fine on 1.3.4.

[2016-12-04 06:52] #27 closed, assigned to nobody

[2016-12-07 18:53] shawnbro opened #29 "Compatible with Ecto.Changeset?"
Just imported this in to my Phoenix project, added `import EctoEnum` to my model, tried to run my test suite and got the following error:

`function cast/3 imported from both EctoEnum and Ecto.Changeset, call is ambiguous`.

Any idea how to solve this?

[2016-12-07 18:57] shawnbro commented on #29
Solved by just explicitly calling `Ecto.Changeset.cast` in my changeset method.

[2016-12-07 18:57] #29 closed, assigned to nobody

[2016-12-09 14:25] slashmili commented on #5
@gjaldon I created #28 PR for this issue :)

[2016-12-10 05:16] #5 closed, assigned to nobody

[2016-12-10 05:35] gjaldon commented on #29
@shawnbro better to not import `EctoEnum` into your model since I think it's more likely you'll use `Ecto.Changeset` functions than `EctoEnum` ones in your model.

[2016-12-10 05:36] gjaldon commented on #27
@shakthimaan that's correct. EctoEnum 1.0 only works with Elixir 1.3.

[2016-12-19 18:30] arnodirlam opened #31 "Ecto 2.1 support"
[Ecto 2.1](https://github.com/elixir-ecto/ecto/releases/tag/v2.1.0) just came out and I wonder if it will be supported soon by ecto_enum?

[2016-12-20 05:05] shawnbro commented on #29
Thank you.  I misread the docs about where it should be imported.

[2016-12-21 00:50] asgoel commented on #31
+1. There are some features of Ecto 2.1 that I'd really like to use but this is currently holding me back.

[2016-12-21 10:41] imranismail commented on #31
This is just a version bump right?

[2016-12-27 17:59] gjaldon commented on #31
Just released EctoEnum 1.0.1 which has Ecto 2.1 support. No huge change but at least removes the need for using override in mix.exs.

[2016-12-27 17:59] #31 closed, assigned to nobody

[2016-12-30 10:23] kfigiela commented on #1
👍

Any updates on that?

[2017-03-05 09:12] hiaw commented on #20
can I reopen this again? I tried out the suggested method and I got an error that I don't know how to proceed.

[code]

And it is documented in postgresql docs. https://www.postgresql.org/docs/9.1/static/sql-altertype.html

The following is my migration file
[code]

[2017-03-08 06:33] yordis commented on #13
Should we use `validate_inclusion` for make sure that it doesn't blow up before insert? I tried but it seems to do not work as I expected, I guess it fails when create the schema (because the casting)

Should we just use that validation?

[2017-03-11 09:37] madshargreave opened #35 "Preloading association with embedded schema/enum type fails"
Hi

Say I have a query like this

[code]

If the `messages` association embeds a struct (here `MessagePart`) with an enum type like so

[code]

it fails with

[code]

[2017-03-12 21:56] hiaw opened #36 "Changes to Postgres enum types?"
can I reopen this again? I tried out the suggested method and I got an error that I don't know how to proceed.

[code]

And it is documented in postgresql docs. https://www.postgresql.org/docs/9.1/static/sql-altertype.html

The following is my migration file
[code]

[2017-03-13 17:46] gjaldon commented on #36
From the notes in the postgresql docs you linked above:
[code]
Since `ALTER TYPE .. ADD VALUE` can't be executed in a transaction, you'll need to add `@disable_ddl_transaction true` to your migration like:

[code]
Does that fix your problem?

[2017-03-13 18:10] gjaldon commented on #35
Can you share the project you're working on so I can reproduce the error? If not, can you provide the relevant code to reproduce this? (the models and their migrations)

[2017-03-13 20:47] hiaw commented on #36
Yes. Awesome!

[2017-03-13 20:47] #36 closed, assigned to nobody

[2017-03-13 21:07] hiaw commented on #36
Just a note for people who wants to do thi sin the future. It is not very hard to rollback this migration. If you did roll back using the following you wouldn't be able to migrate again cause ecto will give you this error `** (Postgrex.Error) ERROR 42710 (duplicate_object): enum label "other" already exists`

[code]

The correct way to roll back is [here](http://stackoverflow.com/questions/2581101

[2017-03-13 21:12] gjaldon commented on #36
Thanks for the info and the link @hiaw!

[2017-03-29 21:29] lleger opened #37 "Renaming enums"
In our app, we renamed a model and so the enum needed to be changed as well:

`ModelName` -> `NewModelName`
`ModelTypeEnum` ->`NewModelTypeEnum`

Is there a good way to rename enums? Currently, we're creating a new enum definition entirely and migrating the PG columns manually.

[2017-04-06 06:58] gjaldon commented on #37
That's how to do it currently. There're no helpers in EctoEnum for handling at the moment.

[2017-04-06 16:40] lleger commented on #37
For reference in case someone comes here looking for an answer, here's how we did it with an Ecto migration:

[code]

[2017-04-06 16:40] #37 closed, assigned to nobody

[2017-05-22 04:04] harmon25 opened #38 "Exception when running migration via distillery command"
Getting the following exception when running a [migration via a distillery command.](https://github.com/bitwalker/distillery/blob/master/docs/Running%20Migrations.md)

Confirmed the `oid` referenced in the error message belongs to an enum type defined with `ecto_enum` residing in the `pg_enum`  pg_catalog table

Appears the enum is being created, but when referenced in a schema the exception is ra

[2017-05-22 05:31] harmon25 commented on #38
looks familiar to this - https://github.com/elixir-ecto/postgrex/issues/248

[2017-05-22 06:04] harmon25 commented on #38
figured it out - need to make sure to start and stop the repo before running the seed script that references enum types - the Repo module loads types on connection - so if not reconnecting after initial migration the oid reference to the custom type will be missing, as it was created after the connection.

[2017-05-22 06:04] #38 closed, assigned to nobody

[2017-05-26 16:20] schnittchen commented on #38
This also happened to me during a data migration.

I tried to set an enum column value for all existing rows in a table in an ecto migration.
Defaulting the column seemed like a bad idea because there is no sensible default going forward.

[2017-05-29 13:52] schnittchen commented on #38
I found no way to safely stop and restart the repo during a migration.

[2017-05-29 13:58] schnittchen commented on #38
Looks like https://github.com/elixir-ecto/postgrex/issues/243 is related

[2017-05-30 15:24] harmon25 commented on #38
https://github.com/bitwalker/distillery/blob/master/docs/Running%20Migrations.md

I only have a single repo in my application - so by modifying the above to restart the Repo after migrations are complete will reload the newly generated OIDs.

It but does appear they may do something to fix this behaviour in newer postgrex release...

[code]

[2017-07-05 04:21] yordis opened #40 "Project status"
Sorry I create an issue for this but I don't see any recent activity with a bunch of good PRs done.

Is this project maintained or not? If not, would you add somebody as contributor or pass membership?

[2017-07-08 05:53] ryanwinchester commented on #13
should it be like this?

[code]

[2017-07-30 18:33] brandonparsons opened #42 "Creating Postgres Enum types inside a schema"
Currently the `create_type/0` function adds the enum types inside Postgres' `public` schema: https://github.com/gjaldon/ecto_enum/blob/01a1f0cc3cc528eabf152ede5f4bcf3bddd866b1/lib/ecto_enum/postgres.ex#L42

Would it be possible to extend this to create the enum types inside other schemas?

[2017-08-06 18:58] vyorkin commented on #35
is there any reason / does it make any sense to use ecto_enum in embedded_schema?

[2017-08-07 07:21] gjaldon commented on #35
@vyorkin didn't realize he was using `embedded_schema`. We can't use ecto_enum with embedded schema and there doesn't seem to be any reason to do it.

[2017-08-07 07:21] #35 closed, assigned to nobody

[2017-08-23 20:19] mmmries opened #46 "Support Ecto 2.2"
As far as I know, nothing has changed in Ecto 2.2 that would affect this library. Has anyone tried it? Would it be possible to get a release that relaxes the dependency on ecto to allow `2.2`?

[2017-08-24 11:45] erikreedstrom commented on #46
This is resolved by #45, but yet to be merged.

[2017-08-24 11:59] #46 closed, assigned to nobody

[2017-09-22 19:50] ryanwinchester commented on #40
Anybody???

[2017-09-27 20:31] yordis commented on #40
@ryanwinchester  and anyone I would recommend to move to https://github.com/KamilLelonek/exnumerator

At the end of the day, there is only one reason to use this package (when you want to use enum at the database layer), that is a good and bad thing depending of many factors.

But I would argue you that for 98% of time you don't need this and it's just fine to use something like `exnumator` IMO

[2017-09-27 22:12] ryanwinchester commented on #40
Thanks @yordis I'm just using my fork for now :)

[2017-11-06 22:15] leifg commented on #40
I reached out to the maintainer (email in in git log) about a month ago and did not get an answer...

I don't have high hopes for this project to continue.

[2017-11-06 22:16] yordis commented on #40
😥 yeah

[2017-11-18 20:16] josephan opened #51 "ecto_enum 1.1 not yet released to Hex"
For now I am doing:
[code]
Thank you for creating ecto enum. It's very handy.

[2017-11-24 12:27] ghost commented on #40
It's not that hard to use postgres enum types without this or any other library, actually. Here's an [example](https://github.com/idi-ot/ecto_enum_postgres).

TL;DR, here's all you need to write (for an imaginary `invoice_status` enum)

[code]

[2017-12-07 12:21] gjaldon commented on #51
@josephan sorry for the delay! I just published EctoEnum 1.1 to Hex and loosened dep requirements so this will no longer be a problem in the future.

[2017-12-07 12:21] #51 closed, assigned to nobody

[2017-12-07 12:24] gjaldon commented on #40
@yordis @ryanwinchester @leifg I've just published latest Ecto 1.1 which only loosens dep requirements which was one of the main issues. Was on sabbatical from software development and back now.

@yordis what good PRs are you referring to btw?

[2017-12-07 12:25] gjaldon commented on #40
@idi-ot the point of this library is that you no longer have to manually set that up for your project. It does some metaprogramming underneath to generate similar code as yours.

[2017-12-07 12:27] ghost commented on #40
@gjaldon I know (actually, I think the code I posted here is a bit more clean than that in the library, would you accept a PR?). I just want people to know that there is a simple way to use eum types with ecto without any additional libraries.

[2017-12-07 12:35] gjaldon commented on #40
@idi-ot the library does metaprogramming so it won't be as clean as code without metaprogramming. Another advantage of this lib is that you may define multiple custom Enums in just a few lines of code. The library is small and focused and does what it needs to do without much complexity.

[2017-12-07 12:36] ghost commented on #40
I meant that it's both cleaner and more efficient to define a lookup table out of multiple function heads, than to use several literal maps, which is the current approach.

Anyway, if you believe that the library is good as is, I won't insist.

[2017-12-07 12:43] gjaldon commented on #40
@idi-ot ahh did not realize that's what you meant! Don't know about the efficiency. Haven't really looked into refactoring it. It does seem cleaner. PR is welcome and would be happy to merge if it ends up cleaner 👍

[2017-12-07 17:45] gjaldon commented on #40
Feel free to reopen if this needs to be revisited

[2017-12-07 17:45] #40 closed, assigned to nobody

[2017-12-09 01:01] gjaldon commented on #42
@brandonparsons yes it is. Let me work on that over the weekend. Should be a simple change.

[2017-12-09 15:14] ghost commented on #40
@gjaldon on efficiency: https://github.com/idi-ot/ecto_enum_bench

[code]

In absolute terms, the difference is almost non-existent, but in relative -- lookup table out of functions is twice as fast as literal map. I've tried to use this method in `ecto_enum`, but can't get the code to compile ...

[2017-12-09 15:21] ghost commented on #40
`dump ecto_enum` didn't finish since it raised (should've returned `:error` instead according to ecto type spec):

[code]

[2018-01-04 06:24] gjaldon commented on #13
A `validate_enum` helper now comes with EctoEnum with this PR https://github.com/gjaldon/ecto_enum/pull/53. The error message was already fixed

[2018-01-04 06:24] #13 closed, assigned to nobody

[2018-01-04 06:37] yordis commented on #13
@gjaldon before you put in `prod` I left a comment about the PR

[2018-01-04 07:12] gjaldon commented on #13
@yordis thanks for the comment! I'm in the process of refactoring it to use `Ecto.Changeset.validate_change/4` so we add metadata for this validator.

[2018-01-04 07:32] yordis commented on #13
@gjaldon just dont forget the `validation: ` key 😄

[2018-01-16 11:56] Anber commented on #51
You still have a wrong published version.
Actually, there is a problem with tags. https://github.com/gjaldon/ecto_enum/blob/v1.1.0/lib/ecto_enum/postgres.ex looks really outdated.

[2018-01-17 03:35] boddhisattva opened #54 "Documentation on how to update an existing enum to have more types"
Hello,

Thank you for your work on this package :). It's seems to be working well for us so far. Can you kindly let us know how we can add more types to an existing enum in my app given that we've already built the initial enum using the steps mentioned as part of the README. I tried updating my `ecto_enums.ex` to specify more enum types wrt a particular enum field but it clearly looks like we hav

[2018-01-17 20:27] gjaldon commented on #51
Haven't published master yet but 1.1 is already published https://hex.pm/packages/ecto_enum.

[2018-01-18 07:03] gjaldon commented on #54
Does this cover it for you?
https://github.com/gjaldon/ecto_enum#postgres

[2018-01-18 07:03] #54 closed, assigned to nobody

[2018-01-20 13:39] boddhisattva commented on #54
Thank you @gjaldon! and I'm sorry for missing this. I'm thinking would you want make this clearer in the README with specifying something like `How to add or remove more enum types` ? I think it may help.

[2018-02-07 03:06] happysalada opened #55 "How do you convert an existing string column to the enum type ?"
just modifying the column to the created enum type gives an error

[code]

[2018-03-13 01:16] axelson opened #57 "Please update changelog for 1.0.2 and 1.1.0"
It looks like the main changes are:

1.1.0:

https://github.com/gjaldon/ecto_enum/pull/53
Addition of `MyEnum.valid_value?/1`

1.0.2:

https://github.com/gjaldon/ecto_enum/commit/6c972b59a9f7115ee24744f0ce55391f7c3d6418
defenum/3 can accept remote function calls

[2018-03-13 03:34] axelson commented on #57
Actually looks like `valid_value?/1` is not in 1.1.0 and release notes can be found at https://github.com/gjaldon/ecto_enum/releases

[2018-03-13 03:34] #57 closed, assigned to nobody

[2018-03-13 03:35] axelson opened #58 "New release"
Is it possible to cut a new release that includes `MyEnum.valid_value?`? I'd like to use it to do validation on a changeset before getting to the DB.

[2018-04-15 01:06] tlvenn commented on #58
@gjaldon any chance to get this done please ?

[2018-05-15 21:31] bencates commented on #58
Thirding this request, and also please consider merging #50 as well.

@gjaldon, I don't want to overstep, but if you're not interested in maintaining this project anymore my company (github.com/system76) would be more than happy to take the maintenance burden off your shoulders.

[2018-05-21 06:23] smartepsh commented on #1
Our project uses both `ecto_enum` and [exnumerator](https://github.com/KamilLelonek/exnumerator) to get different types of value depending on what you defined.

you can have a try.

[2018-05-26 11:35] acrolink commented on #1
Would be also helpful to get either the string or the integer as it is stored in the database. Especially in `Ecto select`.

[2018-06-11 03:42] brandonparsons commented on #58
@gjaldon Hi there - jumping in here too. Possible to cut a new release?

[2018-09-03 07:35] almozavr opened #64 "Multi issue with update"
### Code Sample

[code]

### Issue
[code]

Same code without `Multi` works fine.

[2018-09-03 07:39] almozavr commented on #64
Sorry, the issue is elsewhere but enum.

[2018-09-03 07:39] #64 closed, assigned to nobody

[2018-09-03 14:44] almozavr opened #65 "Sugar! to get backing value directly"
### Issue
`dump/1` returns {:ok, integer} while we'd lite to access value directly (e.g. for views adapters)

### Proposal
`dump!/1` to return `integer` or to raise exception

[2018-10-17 03:26] axelson opened #66 "Is ecto_enum still maintained?"
@gjaldon It's been nearly a year since the previous release of ecto_enum and 10 months since https://github.com/gjaldon/ecto_enum/pull/53 was merged with a new feature. Are you still planning to maintain ecto_enum? If not, then would you be willing to bless a fork (or transfer ownership)?

[2018-11-09 13:46] erikreedstrom commented on #58
@gjaldon Is this repo being retired?

[2018-11-09 15:31] brandonparsons commented on #58
@bencates It looks like @gjaldon hasn't made any commits (to anything) since July. I'd be surprised if he continues to maintain this. Probably a good time for you to fork and continue if you are still willing...

[2018-11-12 16:30] S1r-Lanzelot commented on #66
I tweeted at @gjaldon to see what's up... Still radio silence.

[2018-11-13 08:42] gjaldon commented on #66
I’ll cut a release and look into adding a collaborator over the weekend.

[2018-11-13 14:57] S1r-Lanzelot commented on #58
@brandonparsons @bencates  Please see here: https://github.com/gjaldon/ecto_enum/issues/66

[2018-11-17 08:31] #42 closed, assigned to nobody

[2018-12-10 17:03] fenollp opened #69 "Ecto 3.0 support"
Hi there,

Ecto2 is a hard dependency. Could you allow both v2 & 3?

[2019-01-10 20:34] jeremyjh commented on #66
@gjaldon bump, we would really appreciate a release!

[2019-01-13 18:32] gabrielpra1 commented on #55
This is how I did to change the column `role` from my `users` table from `string` to `UserRoleEnum`.

[code]

[2019-01-29 03:55] sheharyarn opened #70 "Publish a new release with formatter config included"
You're already exporting `locals_without_parens` in your [`formatter.exs`](https://github.com/gjaldon/ecto_enum/blob/master/.formatter.exs) config, but there isn't a published release from which elixir applications can import the config so we still have to manually write them.

Once a new release is published with the config, we'll only need to add this to our formatter.exs:

[code]

Awesome packa

[2019-01-29 04:31] gjaldon commented on #70
Hi @sheharyarn. Just updated the package:
https://hex.pm/packages/ecto_enum/1.2.0
https://github.com/gjaldon/ecto_enum/releases

Thanks for reporting the issue

[2019-01-29 04:31] #70 closed, assigned to nobody

[2019-01-29 04:33] gjaldon commented on #69
Hi @fenollp. This should be addressed in the latest release https://hex.pm/packages/ecto_enum/1.2.0. Let me know if it's still a problem

[2019-01-29 04:33] #69 closed, assigned to nobody

[2019-01-29 04:33] gjaldon commented on #58
This should be addressed in the latest release https://hex.pm/packages/ecto_enum/1.2.0. Let me know if it's still a problem

[2019-01-29 04:33] #58 closed, assigned to nobody

[2019-01-30 02:48] gjaldon commented on #66
Just cut a new release https://hex.pm/packages/ecto_enum/1.2.0

[2019-01-30 02:48] #66 closed, assigned to nobody

[2019-05-03 21:00] praveenperera opened #72 "Dynamically add typespecs to be used with Dializer"
If I make a user status:

[code]

And that automatically added the following typespec

[code]

I could then use `UserStatusEnum.t()` when annotating types in the codebase.

[2019-05-09 11:05] marinho10 opened #73 "Warning when reuse the type created in another migration"
Recently i had a problem.
I created a type, like:
[code]
And after, I created the migration that add the type and use this type in one column. Until this step everything works fine.

The problem/warning happens when I make one migration that uses this column (with new type) in a query...

`[warn] %Postgrex.Query{cache: :reference, columns: nil, name: "ecto_11234", param_formats: nil, param_oids: n

[2019-05-24 08:40] fuelen opened #75 "Embed enum to current module"
I would really like to use this kind of API to keep namespaces smaller.
[code]

[2019-06-27 09:34] #4 closed, assigned to nobody

[2019-06-27 09:35] gjaldon commented on #4
Just added support for this in PR #77

[2019-06-27 09:35] gjaldon commented on #75
I just added support for `use` in #77. Does that address your need?

[2019-06-27 10:39] fuelen commented on #75
Yes, many thanks!

[2019-06-27 10:39] #75 closed, assigned to nobody

[2019-06-27 13:04] gjaldon opened #78 "Dynamically generate graphql types"
This would be a useful feature for users who typically use ecto with absinthe/graphql. Would this be useful to many? Feel free to share what you think.

[2019-06-27 20:07] masoudgs opened #79 "unable to parse short-cut way enum"
`ecto` migration tool isn't able to parse defined enum as the following:
[code]

Result:
[code]

what's wrong with defined enum?

---
Elixir: 1.8.2
phoenix_ecto: 4.0
ecto_sql: 3.0

[2019-06-27 20:26] gjaldon commented on #79
The code should be:

[code]

Sent from my iPhone

[2019-06-27 20:32] gjaldon commented on #79
The code should be:

[code]

[2019-06-27 20:33] gjaldon opened #80 "Add function for checking if EctoEnum types match with Postgresql types"
Request from https://elixirforum.com/t/ectoenum-ecto-extension-to-support-enums-in-ecto-models/23440/2?u=gjaldon:

[2019-06-27 20:41] #79 closed, assigned to nobody

[2019-06-30 14:15] masoudgs opened #81 "Warning while compile project"
I've declared two Enum in my repository but while compile and start Phoenix i got these warnings, what could be wrong?

[code]

[code]

[2019-06-30 14:41] gjaldon commented on #81
@msudgh I'm not sure if that's a bug in EctoEnum or in Elixir. Do both types `PatronTypeEnum` and `PatronStatusEnum` work as intended?

[2019-06-30 15:32] masoudgs commented on #81
@gjaldon everything work as well but I'm wondering about the root cause of these warnings.

[2019-07-01 06:53] gjaldon commented on #81
@msudgh unfortunately, I was yet unable to pin down the cause. It may be a bug in Elixir.

[2019-07-01 07:00] masoudgs commented on #81
@gjaldon What's your `elixir` and `ecto` version? I'm using elixir `1.8.2`, phoenix_ecto `4.0` and ecto_sql `3.0`

[2019-07-01 07:06] gjaldon commented on #81
I'm using elixir 1.9.0.

On Mon, Jul 1, 2019 at 10:00 AM Masoud Ghorbani <notifications@github.com>
wrote:

--
Kind regards,
Gabriel Jaldon

[2019-07-01 17:36] youroff opened #82 "Rollback doesn't seem to work with `.create_type`"
Here's what my migration looks like:
[code]

Here's the output on rollback:
[code]

Should creation of type and first use be separated in different migrations then?

[2019-07-01 17:40] youroff commented on #82
Ah, it seems like it wasn't supposed to work, this example (with `change`) is a bit misleading: https://github.com/gjaldon/ecto_enum#using-postgress-enum-type

[2019-07-01 19:47] youroff commented on #82
Temporarily fixed this by importing `Ecto.Migration` in the same file where enums are defined, so that check in `create_type` generation succeeded and `execute/2` were used, but in might need a proper fix, which I'm not sure what should be. Leaving this open until reaction from the maintainers.

[2019-07-05 13:12] #81 closed, assigned to nobody

[2019-07-05 13:32] gjaldon commented on #81
Just published version 1.3.1

[2019-07-25 12:19] gjaldon commented on #72
This was done by #84

[2019-07-25 12:19] #72 closed, assigned to nobody

[2019-07-25 12:25] #82 closed, assigned to nobody

[2019-07-25 12:26] gjaldon commented on #82
Thanks for reporting the bug @youroff! 💜

[2019-07-30 13:19] silva96 opened #85 "how to test and pass coverage?"
I have the following `ecto_enums.ex` file

[code]

[code]

Tests pass, im happy with that. But coverage reporting tool is showing 0% for `ecto_enums.ex`

[code]

How can I make coverage tool put a 100% in my `ecto_enums.ex` ?

[2019-07-30 13:25] silva96 commented on #85
Auto responding myself

[code]

[2019-07-30 13:25] #85 closed, assigned to nobody

[2019-08-20 09:12] zph opened #87 "Using Enums as constants"
Hello :)

I've been using EctoEnum and want some additional functionality from it.

I was pleased to see about the auto type generation! Next I'd like to be able to use the enums around the codebase as constants representing the different enum values (pseudo code to demonstrate how it works in typescript)

[code]

In elixir and with Ecto enum, I think this would become macro'd function definitions

[2019-08-28 12:00] hickscorp opened #88 "Limited query-ability."
If I want a query to return records for which the enum is either of two values, the following syntax should work:

[code]

I tried pretty much everything I could, it just simply doesn't work. I would have expected a `type IN ...` query to be generated, but it's not.

For now, the solution seems to be a `or_where(...)` construct, but it gets really messy with more constraints on other fields.

[2019-08-29 05:22] gjaldon commented on #88
Does this work?

[code]

What kind of ecto_enum is this? Is it string-backed, integer-backed or does it use PG types?

[2019-08-29 06:15] gjaldon opened #89 "Support Composite types in Postgres"
It would be nice to be able to express in Ecto a datatype like:
[code]

[2019-08-29 06:18] gjaldon commented on #87
@zph I think this idea is sound and would definitely welcome a PR. :)

[2019-08-29 18:48] OvermindDL1 commented on #88
Doesn't this form lose type information of what is being processed on the struct?

Where this style keeps type information (and thus ecto enum conversions)?

[2019-08-30 11:54] ijunaid8989 commented on #1
https://stackoverflow.com/questions/57726255/use-enum-ecto-types-as-strings-not-atoms-elixir

any help?

[2019-08-30 12:53] zph commented on #87
Closing issue since this is now a PR #90

[2019-08-30 12:53] #87 closed, assigned to nobody

[2019-09-09 11:38] Sgoettschkes opened #91 "EctoEnum macro should implement embed_as/1 and equal?/2"
After updating Ecto to 3.2.0, I get the following warnings for each use of EctoEnum:

[code]

I guess to prevent this warnings from showing up changing the macro would be sufficient.

[2019-09-16 11:23] NikitaNaumenko opened #93 "use with string-backed storage doesnt work"
when i try to use EctoEnum with string-backed storage
i've got an error
[code]
my enum
[code]

when i used defenum, or keywords e.g, it's ok
[code]

[2019-09-19 11:47] edisonywh commented on #93
I am having this issue too, I can verify that I am passing in strings into my changeset, but after the `cast` step it becomes atom.

[code]

[2019-09-28 07:27] sheharyarn commented on #91
Any update on this? I see that there already is a PR.

[2019-09-28 17:40] jherdman opened #94 "Compile Warnings with ecto_sql 3.2"
I upgrade to ecto_sql 3.2 this morning and the following warnings are being raised when compiling my app:

[code]

[2019-10-03 15:20] zhisme opened #95 "default value with enum"
Hey there.
I searched all your repo and source code and couldn't find whether I can set default value for enum during migration.

**Expected Result**
[code]

**Actual Result**

[code]

[2019-10-05 16:16] fschuindt commented on #94
I'm also getting this when compiling and using it:
[code]

[2019-10-06 14:19] jherdman commented on #94
This would be resolved by #92

[2019-10-06 14:19] #94 closed, assigned to nobody

[2019-10-22 12:44] cflegel commented on #95
This works for me:

[code]

[2019-10-25 06:25] Eiji7 commented on #89
How it's going to work? If I remember correctly composite types have fixed number of attributes, right?

Did you mean: `{:unused, nil} | {:next, id} | {:finished, nil}`? If so then I believe that it should not be implemented in such library. In same way you would require all ecto types have such support which does not makes sense especially if we are talking about complex combinations.

The better

[2019-10-31 05:32] #91 closed, assigned to nobody

[2019-11-07 14:34] ccapndave opened #97 "Make it clear in the README that MySQL is supported"
Because only Postgres is mentioned by name, its not obvious that MySQL is supported.

[2019-11-15 08:18] zhisme commented on #95
@cflegel yes, this one works. Thanks!

[2019-11-15 08:18] #95 closed, assigned to nobody

[2020-02-17 08:14] cospin commented on #78
Yes, please. Tired of duplicating enums for DB and for GrpahQL types. Already found some some inconsistencies.

[2020-02-17 08:18] cospin opened #101 "Bump ecto version"
Getting some issues updating deps, like:

[code]

[2020-02-17 14:51] char0n opened #102 "Compile error"
While documentation says this should be possible, I'm getting query compilation errors here.

[code]

There are multiple workaround for this, but does anybody have a clue why this happens?

Thank you

[2020-03-17 01:29] nicklayb commented on #102
This is not related to ecto_enum. You must pin the value you want to use in `from/2`.

Doing the following should work:
[code]
(notice the caret before `:public`)

[2020-03-17 08:37] char0n commented on #102
Thanks for explanation

[2020-03-23 18:04] sdost opened #105 "Nullable fields not being handled correctly."
In our MySQL table the enum field is nullable by default. When the `nil` is received from a query, it is passed into the `load/1` function, which is only expecting the values of the enum, and does not handle a `nil` value.

[code]

I would expect that the `nil` should just get passed through to `nil` from the `load/1` function.

[2020-04-09 16:12] #101 closed, assigned to nobody

[2020-04-12 16:47] thiagomajesk commented on #97
@ccapndave Did you manage to use MySQL with this lib? There's this open [issue](https://github.com/gjaldon/ecto_enum/issues/24) about supporting MySQL enum so I'm not positive it's 100% supported. For example, I can't use `create_type` and `type` in my migrations, it just raises an `ER_PARSE_ERROR`. I'm still able to use it with string backed fields.

[2020-04-26 11:57] PJUllrich commented on #20
For those who come to this issue: As described in the [docs](https://github.com/gjaldon/ecto_enum#postgres) you have to add `@disable_ddl_transaction true` to the migration which adds/removes the enum type.

[2020-05-07 08:15] Sgoettschkes opened #107 "Enum array can contain null values or an empty array"
I've encountered the following behaviour which I suggest should either be pointed out in the docs or fixed in the code.

Using an EctoEnum within an array of values, the array can be empty or can contain `nil` values.

Have an EctoEnum:

[code]

Have a field defining an array of EctoEnum:

`field(:my_enum, {:array, TestApp.MyEnum}, default: [:one])`

Define the migration for the field:

`add(:my_e

[2020-05-18 04:20] coop commented on #78
I got tired of this also so I implemented the following for absinthe:

[code]

And then wherever you defined your types:

[code]

[2020-06-12 20:08] lleger opened #109 "Reversible `create_type/0` makes it impossible to drop type"
When `create_type/0` was made to be reversible, it removed the ability to do a migration where you drop the type on the way up and recreate it on the way down.

Example:

[code]

This throws an error:

[code]

This is because when rolling back, `create_type/0` tries to run the DROP SQL when in reality we want the CREATE SQL.

One fix, perhaps is to just make `drop_type/0` reversible as well. Then

[2020-08-05 16:02] sofakingworld opened #111 "Did @gjaldon stop maintaining library?"
There are several PRs that waits for feedback

People spend time improving the library, ignoring them is disrespectful

[2020-08-18 01:15] emaiax commented on #111
@sofakingworld It'd be very nice if you'd fork this and publish as a maintained package :D

[2020-08-18 06:01] gjaldon commented on #111
@sofakingworld thank you for the contribution. Would like to remind, however, that this project is not sponsored by any company or individual and is provided for free. I will review the PRs when I am able to make time for it given I have other commitments. I think making demands out of people's time is quite rude especially considering I do not owe you anything. You could have reached out to me on

[2020-08-18 06:01] #111 closed, assigned to nobody

[2020-08-18 10:55] sofakingworld commented on #111
@gjaldon This issue just for clarify the situation. I'm not toxic, sorry, that's all about not good english knowledge by me.

So, do you continue maintaining, or we fork and maintain by community?

[2020-10-01 09:29] yunmikun2 commented on #65
@almozavr, you can use `__enum__map__/0` to get kw list with keys-values. So suppose you have a type `MyApp.MyEnum` which contains a key `:key`, then you can get its backing value like this:

[code]

On the other side I don't see why would you need this value in views or adapters? What's exactly the case?

[2021-06-15 08:39] mrcasals opened #115 "Publish new version?"
Hi!

It's been over a year since the last published version (1.4.0, released on Oct 31, 2019). There are some interesting unreleased commits, like the ones that add the `add_values()` function to the module.

Do you mind releasing the new version? I know I can use the code directly from GitHub, but I'd rather use a released version, just in case...

Thanks!! ❤️

[2021-06-15 08:52] mrcasals opened #116 "`add_types()` gives a syntax error in PostgreSQL 13"
Hi!

Semi-related to #115: I used the cide directly from GitHub, but running this migration gives a syntax error under PostgreSQL 13:

[code]

This is the output:

[code]

Instead, I had to run the migration this way:

[code]

[2022-11-24 06:28] shahryarjb opened #118 "Warning the underscored variable `"_t"` is used after being set"
Hi

### My environment
[code]

### The warning I get from starting my app
[code]

[2022-11-24 22:05] ryanwinchester commented on #118
Same

[2022-11-24 23:17] IceDragon200 commented on #118
I believe it's ~some codegen~ something added in `elixir 1.14.2`.

`1.14.1` does not have this problem, I've had to rollback to `1.14.1` to get around this for, because it doesn't appear to be a `ecto_enum` problem specifically (at least not one I can visibly identify after looking through the code)

tl;dr

Use `elixir 1.14.1` to have nice and quiet compiles (or to actually compile if you used `wa

[2022-11-27 02:47] jeremyjh commented on #118
It looks like this is a bug in elixirc that has been fixed on HEAD but not yet released: https://github.com/elixir-lang/elixir/commit/bfa799b31ffff3801bb401d4f6ea3dce5d3c2fd7

[2022-11-28 10:21] gjaldon commented on #118
@shahryarjb looks like @jeremyjh is right. It seems like a regression introduced in elixir `1.14.2`. Could you verify that's the case before I close this?

[2022-11-28 11:57] shahryarjb commented on #118
Hi @gjaldon , I re-test in elixir 1.14.1 and I had no warning, but I have no access to test it in master or main branch of elixir.

I think we can wait for new version of elixir, and if it won't be fixed, so we can re-open this issue

Thank you in advance.

[2022-11-28 12:35] gjaldon commented on #118
@shahryarjb ok great! sounds like a plan :)

[2022-11-28 12:35] #118 closed, assigned to nobody